@{
    ViewBag.Title = "Main Menu";
}

<div >
    <div class="pageHeader">
        <span>Task Planner</span>
    </div>
    
    <div>
        <a ui-sref="ManageTasks"><b>Tasks</b></a>
        <p>
            View and navigate through tasks, add, remove and modify any task.
        </p>

        <a ui-sref="ManageParticipants"><b>Participants</b></a>
        <p>
            Add, remove or modify data related to the registered participants.
        </p>

        <a ui-sref="Reports"><b>Reports</b></a>
        <p>
            Reports exposing tasks from different perspectives.
        </p>

        <a ui-sref="Administration"><b>Administration</b></a>
        <p>
            Change access policies, notifications and more.
        </p>
    </div>
</div>