<div class="form-horizontal" ng-controller="TasksController">
    <div ng-repeat="task in TasksList track by task.Id">
        <div task-with-commands scope="task"> </div>
    </div>

    <button class="btn btn-primary" ng-click="createNewTask()">Create</button>

</div>
